version: "3.9"
services:
  db:
    container_name: crypto-knight-api-postgres
    image: postgres:16
    env_file:
      - .env
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
  migrator:
    container_name: crypto-knight-api-migrator
    image: migrate/migrate
    env_file:
      - .env
    volumes:
      - ./migrations:/migrations
    depends_on:
      db:
        condition: service_healthy
    command: -path=/migrations -database postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable up
  backend:
    container_name: crypto-knight-api-app
    image: antgoncharik/crypto-knight-api
    env_file:
      - .env
    restart: always
    volumes:
      - .env:/opt/app/.env:ro
      - ./config/rsa:/opt/app/config/rsa
    depends_on:
      migrator:
        condition: service_completed_successfully
volumes:
  db_data:

  # backup:
  #   container_name: crypto-knight-api-backup
  #   build:
  #     context: ./config/backup
  #     dockerfile: Dockerfile
  #   volumes:
  #     - ./backups:/backups
  #   environment:
  #     POSTGRES_USER: ${DB_USER}
  #     POSTGRES_PASSWORD: ${DB_PASSWORD}
  #     POSTGRES_DB: ${DB_NAME}
  #   restart: always
  #   depends_on:
  #     migrator:
  #       condition: service_completed_successfully
